body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: size 20px;
}
p{
    color: rgb(204, 29, 43);
}
h1{
    color: rgb(13, 15, 172);
    font-size: 60px;
}
div{
    width: 60%;
    margin: auto;
    padding: 50px;
    background-color: rgb(49, 44, 119);
}
a{
    text-decoration:none;
    font-size: 20px;
    color: #734080;
    display:inline-block;
    margin: 20px 0;
     border-bottom: 1px  solid transparent;
    transition:0.2s ease-in;
}
a:hover{
    border-bottom-color: #922aab;
}
img{
    max-width: 100%; 
    height:auto;
    display:block
}
ul{
    color:darkblue;
margin:25px 0;
box-shadow: 0 0 10px 1px  rgb(13, 15, 172);
}